<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.softfly.flashcards">

    <application
        android:name=".FlashCardsApp"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlashCards">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.card.study.ExceptionStudyCardActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.card.NewCardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.card.NewCardAfterOrdinalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.card.EditCardActivity"
            android:exported="false"
            android:parentActivityName=".ui.cards.exception.ExceptionListCardsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.cards.exception.ExceptionListCardsActivity" />
        </activity>
        <activity
            android:name=".ui.cards.exception.ExceptionListCardsActivity"
            android:exported="false"
            android:parentActivityName=".ui.deck.standard.ListDecksFragment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.deck.standard.ListDecksFragment" />
        </activity>
        <activity
            android:name=".ui.app.settings.AppSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_app_settings"
            android:theme="@style/Theme.FlashCards" />
    </application>

</manifest>